In [6]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.9-py2.py3-none-any.whl (242 kB)
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.9

WARNING: You are using pip version 21.1.2; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\Users\barto\OneDrive - University of Warmia and Mazuria in Olsztyn\MailAssign\venv\Scripts\python.exe -m pip install --upgrade pip' command.

In [33]:
import pandas as pd
import numpy as np
import seaborn as sb
import openpyxl
import datetime as dt

In [34]:
kks: pd.DataFrame = pd.read_excel("D:\\pythonProject\\KKS.xlsx", sheet_name="Sheet1")

In [35]:
kks['data'] = pd.TimedeltaIndex(kks['data'], unit='day') + dt.datetime(1899,12,30)

In [36]:
kks

,first_name,last_name,group,data,I,ES,A,result,sten_I,sten_ES,sten_A,sten_result,comment
0,Serafin,Białkowski,e,2019-06-03,50,45,56,151,8,4,7,4,0
1,Serafin,Białkowski,e,2019-01-10,47,40,41,128,7,2,3,1,NaN
2,Grzegorz,Chmielewski,e,2019-10-08,56,58,63,177,9,7,9,6,0
3,Grzegorz,Chmielewski,e,2020-01-28,52,57,53,162,8,7,6,5,NaN
4,Patryk,Chojnacki,e,2019-10-08,37,43,53,133,4,3,6,2,0
5,Patryk,Chojnacki,e,2020-01-28,46,42,52,140,7,3,6,2,NaN
6,Damian,Gawin,e,2019-06-03,45,49,52,146,6,5,6,3,Dużo luk w KKS-A(M)
7,Damian,Gawin,e,2020-02-28,51,58,53,162,8,7,6,5,NaN
8,Kacper,Gładysz,e,2018-02-22,49,55,48,152,8,6,5,4,NaN
9,Kacper,Gładysz,e,2020-02-28,42,55,50,147,6,6,5,3,NaN
10,Jakub,Kazimierczuk,e,2018-02-22,53,66,68,187,9,9,10,7,drugi kns wypełniony schematycznie
11,Jakub,Kazimierczuk,e,2020-02-28,51,56,61,168,8,7,8,5,NaN
12,Patryk,Kędzierski,e,2019-06-03,49,59,65,173,8,7,9,5,KKS-A(M) wypełniony schematycznie
13,Patryk,Kędzierski,e,2019-01-10,41,45,51,137,5,4,5,2,NaN
14,Mateusz,Kochniak,e,2019-06-03,46,54,59,159,7,6,8,4,KKS-A(M) wypełniony schematycznie
15,Mateusz,Kochniak,e,2019-01-10,46,53,60,159,7,6,8,4,NaN
16,Krzysztof,Kowalski,e,2019-10-08,48,60,52,160,7,8,6,4,0
17,Krzysztof,Kowalski,e,2020-01-28,44,56,54,154,6,7,6,4,NaN
18,Ernest,Krawczyk,e,2019-10-08,43,53,46,142,6,6,4,3,0
19,Ernest,Krawczyk,e,2020-01-28,37,52,46,135,4,5,4,2,NaN
20,Patryk,Matecki,e,2019-10-08,35,43,47,125,3,3,4,1,Komplet 3
21,Patryk,Matecki,e,2020-01-28,33,49,40,122,3,5,3,1,NaN
22,Patryk,Matecki,e,2019-01-10,42,58,50,150,6,7,5,3,NaN
23,Kacper,Michalak,e,2019-06-03,53,58,52,163,9,7,6,5,Komplet 3
24,Kacper,Michalak,e,2019-01-10,50,56,57,163,8,7,7,5,NaN
25,Michał,Różanka,e,2019-06-03,41,49,42,132,5,5,3,2,3 brak kns i ses
26,Michał,Różanka,e,2019-01-10,43,53,56,152,6,6,7,4,NaN
27,Michał,Różanka,e,2018-02-22,48,51,59,158,7,5,8,4,NaN
28,Robert,Smolski,e,2019-10-08,41,56,62,159,5,7,8,4,0
29,Robert,Smolski,e,2020-01-28,44,47,52,143,6,4,6,3,NaN
30,Aleks,Watkins,e,2019-06-03,46,45,45,136,7,4,4,2,0
31,Aleks,Watkins,e,2019-01-10,42,45,42,129,6,4,3,2,NaN
32,Jakub,Zemlich,e,2019-10-08,44,56,55,155,6,7,7,4,0
33,Jakub,Zemlich,e,2020-01-28,30,35,40,105,2,1,3,1,NaN
34,Mateusz,Żarski,e,2019-10-08,37,53,63,153,4,6,9,4,0
35,Mateusz,Żarski,e,2020-01-28,42,54,61,157,6,6,8,4,NaN

In [39]:
tmpdf1: pd.DataFrame = pd.DataFrame(columns=kks.columns)
tmpdf2: pd.DataFrame = pd.DataFrame(columns=kks.columns)
for i in kks.iterrows():
    b = True
    for j in tmpdf1.iterrows():
        if i['first_name'] == j['first_name'] and i['last_name'] == j['last_name']:
            b = False
    print(i)
    if b:
        tmpdf1.append(i)
    else:
        tmpdf2.append(i)

tmpdf1
tmpdf2

(0, first_name                 Serafin
last_name               Białkowski
group                            e
data           2019-06-03 00:00:00
I                               50
ES                              45
A                               56
result                         151
sten_I                           8
sten_ES                          4
sten_A                           7
sten_result                      4
comment                          0
Name: 0, dtype: object)

C:\Users\barto\AppData\Local\Temp\ipykernel_33808\3804737062.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tmpdf1.append(i)

TypeError: cannot concatenate object of type '<class 'int'>'; only Series and DataFrame objs are valid