In [58]:
import pandas as pd
import numpy as np
import seaborn as sb
import openpyxl
import datetime as dt
import matplotlib as plt
import pyreadstat

In [59]:
KNS: pd.DataFrame = pd.read_excel("D:\\pythonProject\\KNS.xlsx", sheet_name="Sheet1")

In [60]:
KNS.sort_values('last_name')
KNS

   first_name    last_name Grupa       date  Łącznie  Skala_I  Skala_II
0     Serafin   Białkowski     e 2019-06-03       40       28        12
1     Serafin   Białkowski     e 2019-01-10       38       25        13
2       Piotr    Borkowski     k 2018-03-08       16        7         9
3       Piotr    Borkowski     k 2018-04-23       36       19        17
4    Grzegorz  Chmielewski     e 2019-10-08       40       17        23
..        ...          ...   ...        ...      ...      ...       ...
63      Aleks      Watkins     e 2020-01-10       34       19        15
64      Jakub      Zemlich     e 2019-10-08       64       32        32
65      Jakub      Zemlich     e 2020-01-28       37       18        19
66    Mateusz       Żarski     e 2019-10-08       46       25        21
67    Mateusz       Żarski     e 2020-01-28       50       22        28

[68 rows x 7 columns]

In [61]:

lst1 = []
lst2 = []
for i, row in KNS.iterrows():
    b = True
    for j in lst1:
        if row['first_name'] == j['first_name'] and row['last_name'] == j['last_name']:
            b = False

    if b:
        lst1.append(row)
    else:
        lst2.append(row)

In [62]:

srt1 = []
srt2 = []

#should have made id for each them, it is not very large group so I didnt bother
for i in range(len(lst1)):
    for j in range(len(lst2)):
        if lst1[i]['last_name'] == lst2[j]['last_name']:
            if (lst1[i])['date'] < (lst2[j])['date']:
                srt1.append(lst1[i])
                srt2.append(lst2[j])
            else:
                srt1.append(lst2[j])
                srt2.append(lst1[i])

df_first = pd.DataFrame(srt1)
df_second = pd.DataFrame(srt2)

In [63]:
df_first_e = df_first.loc[df_first['Grupa']=='e']
df_first_e

   first_name     last_name Grupa       date  Łącznie  Skala_I  Skala_II
1     Serafin    Białkowski     e 2019-01-10       38       25        13
4    Grzegorz   Chmielewski     e 2019-10-08       40       17        23
6      Patryk     Chojnacki     e 2019-10-08       48       29        19
10     Damian         Gawin     e 2019-06-03       44       20        24
14     Kacper       Gładysz     e 2018-03-08       12        6         6
20      Jakub  Kazimierczuk     e 2018-03-08       52       25        27
23     Patryk    Kędzierski     e 2019-01-10       44       22        22
25    Mateusz      Kochniak     e 2019-01-10       34       17        17
27     Hubert         Kosek     e 2018-04-23       64       32        32
30  Krzysztof      Kowalski     e 2019-10-08       53       25        28
32     Hubert   Kozierewicz     e 2018-03-08       57       27        30
34     Ernest      Krawczyk     e 2019-10-08       42       19        23
36      Kamil    Kruszyński     e 2018-03-08       52       32        20
38     Patryk       Matecki     e 2019-10-08       35       15        20
41     Kacper      Michalak     e 2019-01-10       54       27        27
46     Damian     Pawłowski     e 2018-03-08       63       32        31
53     Michał       Różanka     e 2019-01-10       53       24        29
54     Antoni        Sławek     e 2019-06-03       30       14        16
56     Robert       Smolski     e 2019-10-08       41       18        23
58     Patryk   Śledziewski     e 2018-03-08       34       18        16
62      Aleks       Watkins     e 2019-06-03       33       16        17
64      Jakub       Zemlich     e 2019-10-08       64       32        32
66    Mateusz        Żarski     e 2019-10-08       46       25        21

In [64]:
df_first_k = df_first.loc[df_first['Grupa']=='k']
df_first_k

    first_name    last_name Grupa       date  Łącznie  Skala_I  Skala_II
2        Piotr    Borkowski     k 2018-03-08       16        7         9
9   Bartłomiej     Czechera     k 2018-04-23       54       29        25
13      Michał       Gieras     k 2018-03-08       60       31        29
16       Filip  Grzejszczak     k 2018-03-08       21       10        11
18       Jakub     Jaworski     k 2019-06-03       39       15        24
29      Marcel    Kowalczyk     k 2018-03-08       34       19        15
42      Daniel   Nowakowski     k 2018-03-08       48       22        26
44     Bartosz        Pajka     k 2018-03-08       42       24        18
49   Klaudiusz     Pisarski     k 2018-03-08       51       27        24
51      Marcin       Pławik     k 2018-04-23       50       24        26
60   Krzysztof   Wasilewski     k 2018-03-08       44       27        17

In [65]:
df_second_e = df_second.loc[df_second['Grupa'] == 'e']
df_second_e

   first_name     last_name Grupa       date  Łącznie  Skala_I  Skala_II
0     Serafin    Białkowski     e 2019-06-03       40       28        12
5    Grzegorz   Chmielewski     e 2020-01-28       34       19        15
7      Patryk     Chojnacki     e 2020-01-28       47       28        19
11     Damian         Gawin     e 2020-02-28       55       24        31
15     Kacper       Gładysz     e 2018-04-23       51       31        20
21      Jakub  Kazimierczuk     e 2018-04-23       38       19        19
22     Patryk    Kędzierski     e 2019-06-03       56       29        27
24    Mateusz      Kochniak     e 2019-06-03       15        5        10
26     Hubert         Kosek     e 2019-06-03       58       29        29
31  Krzysztof      Kowalski     e 2020-01-28       47       24        23
33     Hubert   Kozierewicz     e 2018-04-23       36       19        17
35     Ernest      Krawczyk     e 2020-01-28       39       20        19
37      Kamil    Kruszyński     e 2019-01-10       53       26        27
39     Patryk       Matecki     e 2020-01-28       44       20        24
40     Kacper      Michalak     e 2019-06-03       57       29        28
47     Damian     Pawłowski     e 2018-04-23       61       32        29
52     Michał       Różanka     e 2019-06-03       46       24        22
55     Antoni        Sławek     e 2020-02-28       54       22        32
57     Robert       Smolski     e 2020-01-28       42       21        21
59     Patryk   Śledziewski     e 2018-04-23       46       26        20
63      Aleks       Watkins     e 2020-01-10       34       19        15
65      Jakub       Zemlich     e 2020-01-28       37       18        19
67    Mateusz        Żarski     e 2020-01-28       50       22        28

In [66]:
df_second_k = df_second.loc[df_second['Grupa'] == 'k']
df_second_k

    first_name    last_name Grupa       date  Łącznie  Skala_I  Skala_II
3        Piotr    Borkowski     k 2018-04-23       36       19        17
8   Bartłomiej     Czechera     k 2019-06-03       31       22         9
12      Michał       Gieras     k 2020-02-28       64       32        32
17       Filip  Grzejszczak     k 2018-04-23       26       10        16
19       Jakub     Jaworski     k 2020-02-28       41       26        15
28      Marcel    Kowalczyk     k 2018-04-23       41       23        18
43      Daniel   Nowakowski     k 2018-04-23       54       27        27
45     Bartosz        Pajka     k 2018-04-23       36       22        14
48   Klaudiusz     Pisarski     k 2019-06-03       53       26        27
50      Marcin       Pławik     k 2019-06-03       55       28        27
61   Krzysztof   Wasilewski     k 2018-04-23       55       28        27

In [67]:
mean_e_first = pd.DataFrame.mean(df_first_e, numeric_only=True)
mean_e_first['type'] = ['e_first']
mean_k_first = pd.DataFrame.mean(df_first_k, numeric_only=True)
mean_k_first['type'] = ['k_first']
mean_e_second = pd.DataFrame.mean(df_second_e, numeric_only=True)
mean_e_second['type'] = ['e_second']
mean_k_second = pd.DataFrame.mean(df_second_k, numeric_only=True)
mean_k_second['type'] = ['k_second']

In [68]:
mean_e_first

Łącznie     44.913043
Skala_I     22.478261
Skala_II    22.434783
type        [e_first]
dtype: object

In [73]:
df_first

    first_name     last_name Grupa       date  Łącznie  Skala_I  Skala_II
1      Serafin    Białkowski     e 2019-01-10       38       25        13
2        Piotr     Borkowski     k 2018-03-08       16        7         9
4     Grzegorz   Chmielewski     e 2019-10-08       40       17        23
6       Patryk     Chojnacki     e 2019-10-08       48       29        19
9   Bartłomiej      Czechera     k 2018-04-23       54       29        25
10      Damian         Gawin     e 2019-06-03       44       20        24
13      Michał        Gieras     k 2018-03-08       60       31        29
14      Kacper       Gładysz     e 2018-03-08       12        6         6
16       Filip   Grzejszczak     k 2018-03-08       21       10        11
18       Jakub      Jaworski     k 2019-06-03       39       15        24
20       Jakub  Kazimierczuk     e 2018-03-08       52       25        27
23      Patryk    Kędzierski     e 2019-01-10       44       22        22
25     Mateusz      Kochniak     e 2019-01-10       34       17        17
27      Hubert         Kosek     e 2018-04-23       64       32        32
29      Marcel     Kowalczyk     k 2018-03-08       34       19        15
30   Krzysztof      Kowalski     e 2019-10-08       53       25        28
32      Hubert   Kozierewicz     e 2018-03-08       57       27        30
34      Ernest      Krawczyk     e 2019-10-08       42       19        23
36       Kamil    Kruszyński     e 2018-03-08       52       32        20
38      Patryk       Matecki     e 2019-10-08       35       15        20
41      Kacper      Michalak     e 2019-01-10       54       27        27
42      Daniel    Nowakowski     k 2018-03-08       48       22        26
44     Bartosz         Pajka     k 2018-03-08       42       24        18
46      Damian     Pawłowski     e 2018-03-08       63       32        31
49   Klaudiusz      Pisarski     k 2018-03-08       51       27        24
51      Marcin        Pławik     k 2018-04-23       50       24        26
53      Michał       Różanka     e 2019-01-10       53       24        29
54      Antoni        Sławek     e 2019-06-03       30       14        16
56      Robert       Smolski     e 2019-10-08       41       18        23
58      Patryk   Śledziewski     e 2018-03-08       34       18        16
60   Krzysztof    Wasilewski     k 2018-03-08       44       27        17
62       Aleks       Watkins     e 2019-06-03       33       16        17
64       Jakub       Zemlich     e 2019-10-08       64       32        32
66     Mateusz        Żarski     e 2019-10-08       46       25        21

In [72]:
df_second

    first_name     last_name Grupa       date  Łącznie  Skala_I  Skala_II
0      Serafin    Białkowski     e 2019-06-03       40       28        12
3        Piotr     Borkowski     k 2018-04-23       36       19        17
5     Grzegorz   Chmielewski     e 2020-01-28       34       19        15
7       Patryk     Chojnacki     e 2020-01-28       47       28        19
8   Bartłomiej      Czechera     k 2019-06-03       31       22         9
11      Damian         Gawin     e 2020-02-28       55       24        31
12      Michał        Gieras     k 2020-02-28       64       32        32
15      Kacper       Gładysz     e 2018-04-23       51       31        20
17       Filip   Grzejszczak     k 2018-04-23       26       10        16
19       Jakub      Jaworski     k 2020-02-28       41       26        15
21       Jakub  Kazimierczuk     e 2018-04-23       38       19        19
22      Patryk    Kędzierski     e 2019-06-03       56       29        27
24     Mateusz      Kochniak     e 2019-06-03       15        5        10
26      Hubert         Kosek     e 2019-06-03       58       29        29
28      Marcel     Kowalczyk     k 2018-04-23       41       23        18
31   Krzysztof      Kowalski     e 2020-01-28       47       24        23
33      Hubert   Kozierewicz     e 2018-04-23       36       19        17
35      Ernest      Krawczyk     e 2020-01-28       39       20        19
37       Kamil    Kruszyński     e 2019-01-10       53       26        27
39      Patryk       Matecki     e 2020-01-28       44       20        24
40      Kacper      Michalak     e 2019-06-03       57       29        28
43      Daniel    Nowakowski     k 2018-04-23       54       27        27
45     Bartosz         Pajka     k 2018-04-23       36       22        14
47      Damian     Pawłowski     e 2018-04-23       61       32        29
48   Klaudiusz      Pisarski     k 2019-06-03       53       26        27
50      Marcin        Pławik     k 2019-06-03       55       28        27
52      Michał       Różanka     e 2019-06-03       46       24        22
55      Antoni        Sławek     e 2020-02-28       54       22        32
57      Robert       Smolski     e 2020-01-28       42       21        21
59      Patryk   Śledziewski     e 2018-04-23       46       26        20
61   Krzysztof    Wasilewski     k 2018-04-23       55       28        27
63       Aleks       Watkins     e 2020-01-10       34       19        15
65       Jakub       Zemlich     e 2020-01-28       37       18        19
67     Mateusz        Żarski     e 2020-01-28       50       22        28

In [71]:
pyreadstat.write_sav(df_first, 'D:\\pythonProject\\kns1.sav')
pyreadstat.write_sav(df_second, 'D:\\pythonProject\\kns2.sav')