In [2]:
import pandas as pd
import numpy as np
import seaborn as sb
import openpyxl
import datetime as dt
import matplotlib as plt

In [3]:
kks: pd.DataFrame = pd.read_excel("D:\\pythonProject\\KKS.xlsx", sheet_name="Sheet1")

In [4]:
kks

,first_name,last_name,group,data,I,ES,A,result,sten_I,sten_ES,sten_A,sten_result,comment
0,Serafin,Białkowski,e,2019-06-03,50,45,56,151,8,4,7,4,0
1,Serafin,Białkowski,e,2019-01-10,47,40,41,128,7,2,3,1,NaN
2,Grzegorz,Chmielewski,e,2019-10-08,56,58,63,177,9,7,9,6,0
3,Grzegorz,Chmielewski,e,2020-01-28,52,57,53,162,8,7,6,5,NaN
4,Patryk,Chojnacki,e,2019-10-08,37,43,53,133,4,3,6,2,0
5,Patryk,Chojnacki,e,2020-01-28,46,42,52,140,7,3,6,2,NaN
6,Damian,Gawin,e,2019-06-03,45,49,52,146,6,5,6,3,Dużo luk w KKS-A(M)
7,Damian,Gawin,e,2020-02-28,51,58,53,162,8,7,6,5,NaN
8,Kacper,Gładysz,e,2018-02-22,49,55,48,152,8,6,5,4,NaN
9,Kacper,Gładysz,e,2020-02-28,42,55,50,147,6,6,5,3,NaN
10,Krzysztof,Kowalski,e,2019-10-08,48,60,52,160,7,8,6,4,0
11,Krzysztof,Kowalski,e,2020-01-28,44,56,54,154,6,7,6,4,NaN
12,Ernest,Krawczyk,e,2019-10-08,43,53,46,142,6,6,4,3,0
13,Ernest,Krawczyk,e,2020-01-28,37,52,46,135,4,5,4,2,NaN
14,Patryk,Matecki,e,2019-10-08,35,43,47,125,3,3,4,1,Komplet 3
15,Patryk,Matecki,e,2019-01-10,42,58,50,150,6,7,5,3,NaN
16,Kacper,Michalak,e,2019-06-03,53,58,52,163,9,7,6,5,Komplet 3
17,Kacper,Michalak,e,2019-01-10,50,56,57,163,8,7,7,5,NaN
18,Michał,Różanka,e,2019-06-03,41,49,42,132,5,5,3,2,3 brak kns i ses
19,Michał,Różanka,e,2018-02-22,48,51,59,158,7,5,8,4,NaN
20,Robert,Smolski,e,2019-10-08,41,56,62,159,5,7,8,4,0
21,Robert,Smolski,e,2020-01-28,44,47,52,143,6,4,6,3,NaN
22,Aleks,Watkins,e,2019-06-03,46,45,45,136,7,4,4,2,0
23,Aleks,Watkins,e,2019-01-10,42,45,42,129,6,4,3,2,NaN
24,Jakub,Zemlich,e,2019-10-08,44,56,55,155,6,7,7,4,0
25,Jakub,Zemlich,e,2020-01-28,30,35,40,105,2,1,3,1,NaN
26,Mateusz,Żarski,e,2019-10-08,37,53,63,153,4,6,9,4,0
27,Mateusz,Żarski,e,2020-01-28,42,54,61,157,6,6,8,4,NaN

In [5]:
toDrop = []
for i, row in kks.iterrows():
    if row['last_name'] in ['Kazimierczuk', 'Kędzierski', 'Kochniak']:
       toDrop.append(i)


kks.drop(labels=toDrop)
kks

,first_name,last_name,group,data,I,ES,A,result,sten_I,sten_ES,sten_A,sten_result,comment
0,Serafin,Białkowski,e,2019-06-03,50,45,56,151,8,4,7,4,0
1,Serafin,Białkowski,e,2019-01-10,47,40,41,128,7,2,3,1,NaN
2,Grzegorz,Chmielewski,e,2019-10-08,56,58,63,177,9,7,9,6,0
3,Grzegorz,Chmielewski,e,2020-01-28,52,57,53,162,8,7,6,5,NaN
4,Patryk,Chojnacki,e,2019-10-08,37,43,53,133,4,3,6,2,0
5,Patryk,Chojnacki,e,2020-01-28,46,42,52,140,7,3,6,2,NaN
6,Damian,Gawin,e,2019-06-03,45,49,52,146,6,5,6,3,Dużo luk w KKS-A(M)
7,Damian,Gawin,e,2020-02-28,51,58,53,162,8,7,6,5,NaN
8,Kacper,Gładysz,e,2018-02-22,49,55,48,152,8,6,5,4,NaN
9,Kacper,Gładysz,e,2020-02-28,42,55,50,147,6,6,5,3,NaN
10,Krzysztof,Kowalski,e,2019-10-08,48,60,52,160,7,8,6,4,0
11,Krzysztof,Kowalski,e,2020-01-28,44,56,54,154,6,7,6,4,NaN
12,Ernest,Krawczyk,e,2019-10-08,43,53,46,142,6,6,4,3,0
13,Ernest,Krawczyk,e,2020-01-28,37,52,46,135,4,5,4,2,NaN
14,Patryk,Matecki,e,2019-10-08,35,43,47,125,3,3,4,1,Komplet 3
15,Patryk,Matecki,e,2019-01-10,42,58,50,150,6,7,5,3,NaN
16,Kacper,Michalak,e,2019-06-03,53,58,52,163,9,7,6,5,Komplet 3
17,Kacper,Michalak,e,2019-01-10,50,56,57,163,8,7,7,5,NaN
18,Michał,Różanka,e,2019-06-03,41,49,42,132,5,5,3,2,3 brak kns i ses
19,Michał,Różanka,e,2018-02-22,48,51,59,158,7,5,8,4,NaN
20,Robert,Smolski,e,2019-10-08,41,56,62,159,5,7,8,4,0
21,Robert,Smolski,e,2020-01-28,44,47,52,143,6,4,6,3,NaN
22,Aleks,Watkins,e,2019-06-03,46,45,45,136,7,4,4,2,0
23,Aleks,Watkins,e,2019-01-10,42,45,42,129,6,4,3,2,NaN
24,Jakub,Zemlich,e,2019-10-08,44,56,55,155,6,7,7,4,0
25,Jakub,Zemlich,e,2020-01-28,30,35,40,105,2,1,3,1,NaN
26,Mateusz,Żarski,e,2019-10-08,37,53,63,153,4,6,9,4,0
27,Mateusz,Żarski,e,2020-01-28,42,54,61,157,6,6,8,4,NaN

In [6]:

lst1 = []
lst2 = []
for row, i in kks.iterrows():
    b = True
    for j in lst1:
        if i['first_name'] == j['first_name'] and i['last_name'] == j['last_name']:
            b = False

    print(i['last_name'])
    if b:
        lst1.append(i)
    else:
        lst2.append(i)

Białkowski
Białkowski
Chmielewski
Chmielewski
Chojnacki
Chojnacki
Gawin
Gawin
Gładysz
Gładysz
Kowalski
Kowalski
Krawczyk
Krawczyk
Matecki
Matecki
Michalak
Michalak
Różanka
Różanka
Smolski
Smolski
Watkins
Watkins
Zemlich
Zemlich
Żarski
Żarski

In [7]:

srt1 = []
srt2 = []

#should have made id for each them, it is not very large group so I didnt bother
for i in range(len(lst1)):
    for j in range(len(lst2)):
        if lst1[i]['last_name'] == lst2[j]['last_name']:
            if (lst1[i])['data'] < (lst2[j])['data']:
                srt1.append(lst1[i])
                srt2.append(lst2[j])
            else:
                srt1.append(lst2[j])
                srt2.append(lst1[i])

df_first = pd.DataFrame(srt1)
df_second = pd.DataFrame(srt2)

In [8]:
df_first

,first_name,last_name,group,data,I,ES,A,result,sten_I,sten_ES,sten_A,sten_result,comment
1,Serafin,Białkowski,e,2019-01-10,47,40,41,128,7,2,3,1,NaN
2,Grzegorz,Chmielewski,e,2019-10-08,56,58,63,177,9,7,9,6,0
4,Patryk,Chojnacki,e,2019-10-08,37,43,53,133,4,3,6,2,0
6,Damian,Gawin,e,2019-06-03,45,49,52,146,6,5,6,3,Dużo luk w KKS-A(M)
8,Kacper,Gładysz,e,2018-02-22,49,55,48,152,8,6,5,4,NaN
10,Krzysztof,Kowalski,e,2019-10-08,48,60,52,160,7,8,6,4,0
12,Ernest,Krawczyk,e,2019-10-08,43,53,46,142,6,6,4,3,0
15,Patryk,Matecki,e,2019-01-10,42,58,50,150,6,7,5,3,NaN
17,Kacper,Michalak,e,2019-01-10,50,56,57,163,8,7,7,5,NaN
19,Michał,Różanka,e,2018-02-22,48,51,59,158,7,5,8,4,NaN
20,Robert,Smolski,e,2019-10-08,41,56,62,159,5,7,8,4,0
23,Aleks,Watkins,e,2019-01-10,42,45,42,129,6,4,3,2,NaN
24,Jakub,Zemlich,e,2019-10-08,44,56,55,155,6,7,7,4,0
26,Mateusz,Żarski,e,2019-10-08,37,53,63,153,4,6,9,4,0

In [9]:
df_second

,first_name,last_name,group,data,I,ES,A,result,sten_I,sten_ES,sten_A,sten_result,comment
0,Serafin,Białkowski,e,2019-06-03,50,45,56,151,8,4,7,4,0
3,Grzegorz,Chmielewski,e,2020-01-28,52,57,53,162,8,7,6,5,NaN
5,Patryk,Chojnacki,e,2020-01-28,46,42,52,140,7,3,6,2,NaN
7,Damian,Gawin,e,2020-02-28,51,58,53,162,8,7,6,5,NaN
9,Kacper,Gładysz,e,2020-02-28,42,55,50,147,6,6,5,3,NaN
11,Krzysztof,Kowalski,e,2020-01-28,44,56,54,154,6,7,6,4,NaN
13,Ernest,Krawczyk,e,2020-01-28,37,52,46,135,4,5,4,2,NaN
14,Patryk,Matecki,e,2019-10-08,35,43,47,125,3,3,4,1,Komplet 3
16,Kacper,Michalak,e,2019-06-03,53,58,52,163,9,7,6,5,Komplet 3
18,Michał,Różanka,e,2019-06-03,41,49,42,132,5,5,3,2,3 brak kns i ses
21,Robert,Smolski,e,2020-01-28,44,47,52,143,6,4,6,3,NaN
22,Aleks,Watkins,e,2019-06-03,46,45,45,136,7,4,4,2,0
25,Jakub,Zemlich,e,2020-01-28,30,35,40,105,2,1,3,1,NaN
27,Mateusz,Żarski,e,2020-01-28,42,54,61,157,6,6,8,4,NaN

In [10]:
mean = pd.DataFrame.mean(df_first)
mean

C:\Users\barto\AppData\Local\Temp\ipykernel_22748\1757501343.py:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  mean = pd.DataFrame.mean(df_first)
C:\Users\barto\AppData\Local\Temp\ipykernel_22748\1757501343.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  mean = pd.DataFrame.mean(df_first)

I               44.928571
ES              52.357143
A               53.071429
result         150.357143
sten_I           6.357143
sten_ES          5.714286
sten_A           6.142857
sten_result      3.500000
dtype: float64

In [11]:
mean2 = pd.DataFrame.mean(df_second)
mean2

C:\Users\barto\AppData\Local\Temp\ipykernel_22748\4172884222.py:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  mean2 = pd.DataFrame.mean(df_second)
C:\Users\barto\AppData\Local\Temp\ipykernel_22748\4172884222.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  mean2 = pd.DataFrame.mean(df_second)

I               43.785714
ES              49.714286
A               50.214286
result         143.714286
sten_I           6.071429
sten_ES          4.928571
sten_A           5.285714
sten_result      3.071429
dtype: float64