In [60]:
import pandas as pd
import numpy as np
import seaborn as sb
import openpyxl
import datetime as dt
import matplotlib as plt
import pyreadstat

In [61]:
!pip install pyreadstat

Requirement already satisfied: pyreadstat in c:\users\barto\onedrive - university of warmia and mazuria in olsztyn\mailassign\venv\lib\site-packages (1.1.4)

WARNING: You are using pip version 21.1.2; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\Users\barto\OneDrive - University of Warmia and Mazuria in Olsztyn\MailAssign\venv\Scripts\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: pandas>=1.2.0 in c:\users\barto\onedrive - university of warmia and mazuria in olsztyn\mailassign\venv\lib\site-packages (from pyreadstat) (1.4.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\barto\onedrive - university of warmia and mazuria in olsztyn\mailassign\venv\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\barto\onedrive - university of warmia and mazuria in olsztyn\mailassign\venv\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\barto\onedrive - university of warmia and mazuria in olsztyn\mailassign\venv\lib\site-packages (from pandas>=1.2.0->pyreadstat) (1.21.4)
Requirement already satisfied: six>=1.5 in c:\users\barto\onedrive - university of warmia and mazuria in olsztyn\mailassign\venv\lib\site-packages (from python-dateutil>=2.8.1->pandas>=1.2.0->pyreadstat) (1.16.0)

In [62]:
ses: pd.DataFrame = pd.read_excel("D:\\pythonProject\\SES.xlsx", sheet_name="Arkusz1")

In [63]:
ses.sort_values('last_name')
ses

,first_name,last_name,group,date,result,Komentarz,Kolumna1
0,Serafin,Białkowski,e,2019-01-10,19,NaN,=
1,Serafin,Białkowski,e,2019-06-03,23,0,NaN
2,Piotr,Borkowski,k,2018-04-23,22,NaN,NaN
3,Piotr,Borkowski,k,2018-03-08,28,"Wyniki są połączone, brak drugiego kks, daty z...",NaN
4,Grzegorz,Chmielewski,e,2019-10-08,25,0,NaN
...,...,...,...,...,...,...,...
63,Aleks,Watkins,e,2019-06-03,25,0,NaN
64,Jakub,Zemlich,e,2020-01-28,26,NaN,NaN
65,Jakub,Zemlich,e,2019-10-08,28,0,NaN
66,Mateusz,Żarski,e,2019-10-08,32,0,NaN
67,Mateusz,Żarski,e,2020-01-28,33,NaN,NaN

In [64]:

lst1 = []
lst2 = []
for i, row in ses.iterrows():
    b = True
    for j in lst1:
        if row['first_name'] == j['first_name'] and row['last_name'] == j['last_name']:
            b = False

    if b:
        lst1.append(row)
    else:
        lst2.append(row)

In [65]:

srt1 = []
srt2 = []

#should have made id for each them, it is not very large group so I didnt bother
for i in range(len(lst1)):
    for j in range(len(lst2)):
        if lst1[i]['last_name'] == lst2[j]['last_name']:
            if (lst1[i])['date'] < (lst2[j])['date']:
                srt1.append(lst1[i])
                srt2.append(lst2[j])
            else:
                srt1.append(lst2[j])
                srt2.append(lst1[i])

df_first = pd.DataFrame(srt1)
df_second = pd.DataFrame(srt2)

In [66]:
df_first_e = df_first.loc[df_first['group']=='e']
df_first_e

,first_name,last_name,group,date,result,Komentarz,Kolumna1
0,Serafin,Białkowski,e,2019-01-10,19,NaN,=
4,Grzegorz,Chmielewski,e,2019-10-08,25,0,NaN
7,Patryk,Chojnacki,e,2019-10-08,26,0,NaN
10,Damian,Gawin,e,2019-06-03,29,Dużo luk w KKS-A(M),NaN
12,Kacper,Gładysz,e,2018-03-08,29,"brak drugiego kks, pilotaż",NaN
20,Jakub,Kazimierczuk,e,2018-03-08,30,drugi kns wypełniony schematycznie,NaN
23,Patryk,Kędzierski,e,2019-01-10,31,NaN,NaN
26,Mateusz,Kochniak,e,2019-01-10,18,NaN,NaN
29,Hubert,Kosek,e,2019-06-03,37,KKS-A(M) wypełniony schematycznie,NaN
32,Krzysztof,Kowalski,e,2019-10-08,29,0,NaN
35,Hubert,Kozierewicz,e,2018-03-08,35,brak kks,NaN
36,Ernest,Krawczyk,e,2019-10-08,25,0,NaN
38,Kamil,Kruszyński,e,2018-03-08,28,brak drugiego kks,NaN
40,Patryk,Matecki,e,2019-01-10,21,NaN,NaN
40,Patryk,Matecki,e,2019-01-10,21,NaN,NaN
43,Kacper,Michalak,e,2019-01-10,35,NaN,NaN
51,Damian,Pawłowski,e,2018-03-08,35,brak kks,NaN
57,Michał,Różanka,e,2019-01-10,27,NaN,NaN
59,Robert,Smolski,e,2019-10-08,25,0,NaN
60,Patryk,Śledziewski,e,2018-03-08,24,brak kks,NaN
62,Aleks,Watkins,e,2019-01-10,24,NaN,NaN
65,Jakub,Zemlich,e,2019-10-08,28,0,NaN
66,Mateusz,Żarski,e,2019-10-08,32,0,NaN

In [67]:
df_first_k = df_first.loc[df_first['group']=='k']
df_first_k

,first_name,last_name,group,date,result,Komentarz,Kolumna1
3,Piotr,Borkowski,k,2018-03-08,28,"Wyniki są połączone, brak drugiego kks, daty z...",NaN
9,Bartłomiej,Czechera,k,2018-04-23,36,NaN,NaN
15,Filip,Grzejszczak,k,2018-03-08,27,brak drugiego kks,NaN
16,Kacper,Jagnicki,k,2018-03-08,25,"brak kks, kks 3rd wypełniony schematycznie",NaN
19,Jakub,Jaworski,k,2019-06-03,31,"Brak dokładności w wypełnianiu, drugi kks bez ...",NaN
25,Patryk,Kłusek,k,2018-03-08,25,brak kks,NaN
30,Marcel,Kowalczyk,k,2018-03-08,26,NaN,NaN
46,Daniel,Nowakowski,k,2018-03-08,30,brak drugiego kks,NaN
49,Bartosz,Pajka,k,2018-03-08,33,Drugi KNS i ses w teczce nr5,NaN
52,Klaudiusz,Pisarski,k,2018-03-08,28,NaN,NaN
54,Marcin,Pławik,k,2018-04-23,25,NaN,NaN

In [68]:
df_second_e = df_second.loc[df_second['group'] == 'e']
df_second_e

,first_name,last_name,group,date,result,Komentarz,Kolumna1
1,Serafin,Białkowski,e,2019-06-03,23,0,NaN
5,Grzegorz,Chmielewski,e,2020-01-28,27,NaN,NaN
6,Patryk,Chojnacki,e,2020-01-28,25,NaN,NaN
11,Damian,Gawin,e,2020-02-28,36,NaN,NaN
13,Kacper,Gładysz,e,2018-04-23,30,NaN,NaN
21,Jakub,Kazimierczuk,e,2020-02-28,32,NaN,NaN
22,Patryk,Kędzierski,e,2019-06-03,25,KKS-A(M) wypełniony schematycznie,NaN
27,Mateusz,Kochniak,e,2019-06-03,24,KKS-A(M) wypełniony schematycznie,NaN
28,Hubert,Kosek,e,2020-04-23,33,NaN,NaN
33,Krzysztof,Kowalski,e,2020-01-28,29,NaN,NaN
34,Hubert,Kozierewicz,e,2018-04-23,33,NaN,NaN
37,Ernest,Krawczyk,e,2020-01-28,26,NaN,NaN
39,Kamil,Kruszyński,e,2019-01-10,30,NaN,NaN
41,Patryk,Matecki,e,2019-10-08,25,Komplet 3,NaN
42,Patryk,Matecki,e,2020-01-28,31,NaN,NaN
44,Kacper,Michalak,e,2019-06-03,40,Komplet 3,NaN
50,Damian,Pawłowski,e,2018-04-23,34,NaN,NaN
56,Michał,Różanka,e,2019-06-03,25,3 brak kns i ses,NaN
58,Robert,Smolski,e,2020-01-28,19,NaN,NaN
61,Patryk,Śledziewski,e,2018-04-23,24,NaN,NaN
63,Aleks,Watkins,e,2019-06-03,25,0,NaN
64,Jakub,Zemlich,e,2020-01-28,26,NaN,NaN
67,Mateusz,Żarski,e,2020-01-28,33,NaN,NaN

In [69]:
df_second_k = df_second.loc[df_second['group'] == 'k']
df_second_k

,first_name,last_name,group,date,result,Komentarz,Kolumna1
2,Piotr,Borkowski,k,2018-04-23,22,NaN,NaN
8,Bartłomiej,Czechera,k,2019-06-03,22,0,NaN
14,Filip,Grzejszczak,k,2018-04-23,26,NaN,NaN
17,Kacper,Jagnicki,k,2018-04-23,30,NaN,NaN
18,Jakub,Jaworski,k,2020-02-28,30,NaN,NaN
24,Patryk,Kłusek,k,2018-04-23,22,pilotaż,NaN
31,Marcel,Kowalczyk,k,2018-04-23,30,NaN,NaN
47,Daniel,Nowakowski,k,2018-04-23,30,NaN,NaN
48,Bartosz,Pajka,k,2018-04-23,27,NaN,NaN
53,Klaudiusz,Pisarski,k,2019-06-03,35,Końcówka KKS-A(M)mało zróżnicowana,NaN
55,Marcin,Pławik,k,2019-06-03,30,brak drugiego kks,NaN

In [70]:
mean_e_first = pd.DataFrame.mean(df_first_e, numeric_only=True)
mean_e_first['type'] = ['e_first']
mean_k_first = pd.DataFrame.mean(df_first_k, numeric_only=True)
mean_k_first['type'] = ['k_first']
mean_e_second = pd.DataFrame.mean(df_second_e, numeric_only=True)
mean_e_second['type'] = ['e_second']
mean_k_second = pd.DataFrame.mean(df_second_k, numeric_only=True)
mean_k_second['type'] = ['k_second']

In [71]:
mean_e_first

result    27.521739
type      [e_first]
dtype: object

In [72]:
mean_e_second

result       28.478261
Kolumna1           NaN
type        [e_second]
dtype: object

In [81]:
mean_k_second

result       27.636364
Kolumna1           NaN
type        [k_second]
dtype: object

In [80]:
#pyreadstat.write_sav(df_first, 'D:\\pythonProject\\df1.sav')
#pyreadstat.write_sav(df_second, 'D:\\pythonProject\\df2.sav')

,first_name,last_name,group,date,result,Komentarz,Kolumna1
1,Serafin,Białkowski,e,2019-06-03,23,0,NaN
2,Piotr,Borkowski,k,2018-04-23,22,NaN,NaN
5,Grzegorz,Chmielewski,e,2020-01-28,27,NaN,NaN
6,Patryk,Chojnacki,e,2020-01-28,25,NaN,NaN
8,Bartłomiej,Czechera,k,2019-06-03,22,0,NaN
11,Damian,Gawin,e,2020-02-28,36,NaN,NaN
13,Kacper,Gładysz,e,2018-04-23,30,NaN,NaN
14,Filip,Grzejszczak,k,2018-04-23,26,NaN,NaN
17,Kacper,Jagnicki,k,2018-04-23,30,NaN,NaN
18,Jakub,Jaworski,k,2020-02-28,30,NaN,NaN
21,Jakub,Kazimierczuk,e,2020-02-28,32,NaN,NaN
22,Patryk,Kędzierski,e,2019-06-03,25,KKS-A(M) wypełniony schematycznie,NaN
24,Patryk,Kłusek,k,2018-04-23,22,pilotaż,NaN
27,Mateusz,Kochniak,e,2019-06-03,24,KKS-A(M) wypełniony schematycznie,NaN
28,Hubert,Kosek,e,2020-04-23,33,NaN,NaN
31,Marcel,Kowalczyk,k,2018-04-23,30,NaN,NaN
33,Krzysztof,Kowalski,e,2020-01-28,29,NaN,NaN
34,Hubert,Kozierewicz,e,2018-04-23,33,NaN,NaN
37,Ernest,Krawczyk,e,2020-01-28,26,NaN,NaN
39,Kamil,Kruszyński,e,2019-01-10,30,NaN,NaN
41,Patryk,Matecki,e,2019-10-08,25,Komplet 3,NaN
42,Patryk,Matecki,e,2020-01-28,31,NaN,NaN
44,Kacper,Michalak,e,2019-06-03,40,Komplet 3,NaN
47,Daniel,Nowakowski,k,2018-04-23,30,NaN,NaN
48,Bartosz,Pajka,k,2018-04-23,27,NaN,NaN
50,Damian,Pawłowski,e,2018-04-23,34,NaN,NaN
53,Klaudiusz,Pisarski,k,2019-06-03,35,Końcówka KKS-A(M)mało zróżnicowana,NaN
55,Marcin,Pławik,k,2019-06-03,30,brak drugiego kks,NaN
56,Michał,Różanka,e,2019-06-03,25,3 brak kns i ses,NaN
58,Robert,Smolski,e,2020-01-28,19,NaN,NaN
61,Patryk,Śledziewski,e,2018-04-23,24,NaN,NaN
63,Aleks,Watkins,e,2019-06-03,25,0,NaN
64,Jakub,Zemlich,e,2020-01-28,26,NaN,NaN
67,Mateusz,Żarski,e,2020-01-28,33,NaN,NaN